@model IEnumerable<CloudyShop.Models.EF.Order>
@if (Model != null)
{
    var i = 1;
    <h3>Lịch sử đơn hàng</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>STT</th>
                <th>Mã DH</th>
                <th>Ngày đặt</th>
                <th>Trạng thái</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@i</td>
                    <td>@item.Code</td>
                    <td>@item.CreateDate.ToString("dd/MM/yyyy")</td>
                    <td>
                        @if (item.Status == 1)
                        {
                            <span>Đang chuẩn bị</span>
                        }
                        @if (item.Status == 2)
                        {
                            <span>Đang giao hàng</span>
                        }
                        @if (item.Status == 3)
                        {
                            <span>Hoàn thành</span>
                        }
                        @if (item.Status == 4)
                        {
                            <span>Hủy</span>
                        }
                    </td>
                    <td><a href="/review/view/@item.Id">Xem chi tiết</a></td>
                </tr>
                i++;
            }
        </tbody>
    </table>
}
